<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Layout page</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/">WebAppBasis</a>

		<!-- Links Register -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/newUser">Register</a></li>
			
			<!-- Dropdown Profile -->
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbardrop"
				data-toggle="dropdown">Profile</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/user/privateSpace">MyNotes</a> 
				</div>
			</li>
			
			<!-- Dropdown Admin -->
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbardrop"
				data-toggle="dropdown">Admin</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/userList">UserList</a> 
				</div>
			</li>
			
		</ul>
	</nav>
	<div layout:fragment="content">
		<h1>This is the Layout's main section</h1>
		<p>This content will be replaced if the page using the layout also
			defines a layout:fragment="content" segment.</p>
	</div>
</body>
</html>
